In [9]:
import pandas as pd
import os

input_dir = r'C:\Users\tmccl\OneDrive\Documents\Jobs\Allpress\Weather Station'
output_dir = r'C:\Users\tmccl\OneDrive\Documents\GitHub\leek-growth-model'

In [8]:
output_df = pd.read_csv(rf'{output_dir}\weather_db.csv')

output_df

,date,time,avg_temp,rh,rain,solar_radiation,wind_speed_gust,wind_speed_avg,soil_temp,bat_volt,leaf_wet,dew_point
0,14/05/2014,14:00:00,15.8,55.9,0.0,457.0,NaN,2.70,NaN,6904.0,0.0,7.2
1,14/05/2014,15:00:00,17.0,51.2,0.0,1212.0,NaN,2.20,NaN,6952.0,0.0,7.0
2,14/05/2014,16:00:00,17.3,48.9,0.0,862.0,NaN,2.10,NaN,6922.0,0.0,6.6
3,14/05/2014,17:00:00,17.5,48.9,0.0,611.0,NaN,2.00,NaN,6904.0,0.0,6.7
4,14/05/2014,18:00:00,16.8,51.0,0.0,232.0,NaN,1.70,NaN,6894.0,0.0,6.7
...,...,...,...,...,...,...,...,...,...,...,...,...
69999,08/05/2022,21:00:01,10.8,80.3,0.0,0.0,10.08,6.50,10.8,NaN,NaN,NaN
70000,08/05/2022,22:00:01,8.9,87.6,0.0,0.0,12.33,6.50,10.7,NaN,NaN,NaN
70001,08/05/2022,23:00:01,7.0,95.8,0.0,0.0,10.15,6.50,10.6,NaN,NaN,NaN
70002,09/05/2022,00:00:01,6.0,100.0,0.0,0.0,5.23,5.00,10.5,NaN,NaN,NaN
70003,09/05/2022,01:00:01,5.3,100.0,0.0,0.0,7.78,5.75,10.3,NaN,NaN,NaN

In [11]:
file_list = [i for i in os.listdir(input_dir) if i.__contains__('allpress')]

file_list

['2022-06-08_2428_allpress_sensors.csv',
 '2022-07-06_2428_allpress_sensors.csv',
 '2022-07-28_2428_allpress_sensors.csv',
 '2022-08-17_2428_allpress_sensors.csv',
 '2022-09-24_2428_allpress_sensors.csv',
 '2022-10-29_2428_allpress_sensors.csv',
 '2023-01-04_2428_allpress_sensors.csv',
 '2023-02-11_2428_allpress_sensors.csv',
 '2023-03-12_2428_allpress_sensors.csv',
 '2023-03-24_2428_allpress_sensors.csv',
 '2023-04-16_2428_allpress_sensors.csv',
 '2023-05-07_2428_allpress_sensors.csv',
 '2023-06-16_2428_allpress_sensors.csv',
 '2023-07-15_2428_allpress_sensors.csv',
 '2023-07-25_2428_allpress_sensors.csv']

In [13]:
df = pd.read_csv(rf'{input_dir}\{file_list[0]}')
df.drop(['Serial No.', 'Label', 'Name'], axis=1, inplace=True)
df

,Local Date,Local Time,Air temp 1,rh,Rainfall (mm),sp5 Light,Windspeed Average mph,Windspeed Gust Max mph,Soil temp2,Bat Volt
0,08-05-22,23:00:01,7.0,95.8,0,0.00,10.15,6.50,10.6,13.1
1,09-05-22,00:00:01,6.0,100.0,0,0.00,5.23,5.00,10.5,13.0
2,09-05-22,01:00:01,5.3,100.0,0,0.00,7.78,5.75,10.3,13.0
3,09-05-22,02:00:01,4.1,100.0,0,0.00,6.25,5.00,10.2,13.0
4,09-05-22,03:00:01,3.2,100.0,0,0.00,0.03,1.50,10.0,12.9
...,...,...,...,...,...,...,...,...,...,...
718,07-06-22,21:00:01,16.6,85.6,0,7.32,14.90,9.00,12.3,13.2
719,07-06-22,22:00:01,15.2,95.7,0,0.00,8.15,8.25,12.4,13.1
720,07-06-22,23:00:01,15.4,95.1,0,0.00,5.05,5.00,12.4,13.1
721,08-06-22,00:00:01,15.6,94.2,0,0.00,9.40,6.50,12.4,13.1
722,08-06-22,01:00:01,14.7,93.6,0,0.00,11.05,7.50,12.4,13.1

In [15]:
df_url = pd.read_csv(r'https://sms2.soilmoisturesense.com/weather/allpress.php?station=2428&uname=allpress&pass=C4pef36')
filename = df_url.loc[0, 'Local Date'] + '_allpress_sensors.csv'
df_url.to_csv(rf'{input_dir}\{filename}')

'30-06-23_allpress_sensors.csv'